@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #465b48;
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5b765e;
  }
}

@media print {
  #sidebar-navigation,
  #btn-presentation-mode,
  #btn-refresh-dashboard,
  #btn-sharepoint-sync-quick {
    display: none !important;
  }
  main {
    padding: 0 !important;
    background: white !important;
  }
}

